version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my_bot
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://myuser:mypassword@postgres:5432/mydb
      BOT_TOKEN: ${BOT_TOKEN}

  postgres:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/sql/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: